[submodule "AdvancementPack"]
	path = AdvancementPack
	url = https://github.com/r4isen1920/AdvancementPack.git
[submodule "OriginsPE"]
	path = OriginsPE
	url = https://github.com/r4isen1920/OriginsPE.git
[submodule "InvSee"]
	path = InvSee
	url = https://github.com/r4isen1920/InvSee.git
[submodule "WAILA"]
	path = WAILA
	url = https://github.com/r4isen1920/WAILA.git
[submodule "Baubles"]
	path = Baubles
	url = https://github.com/r4isen1920/Baubles
